$bg-color: #f5f0f0;
$heading-color: #615A5A;
$sub-heading-color: #7e7e7e;
$border-color: #282828;
$light-border-color: #c0c0c0;
$text-color: #443b3b;

body, div, span, ul, li, p { margin: 0px; padding: 0px; }
body { background-color: $bg-color; }
a { cursor: pointer; }

.btn {
  border: solid 1px $border-color;
  display: table-cell;
  vertical-align: middle;
  min-width: 100px;
  height: 30px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: $border-color;
  &:hover {
    background-color: $border-color;
    color: #fff;
  }
}

input, button, textarea { outline: none; }

.wrapper {
  width: 800px;
  margin: auto;
  margin-left: 20%;

  .body {
    min-height: 460px;
  }
}

.title {
  font-family: "Times New Roman";
  font-size: 32px;
  color: $heading-color;
  a {
    color: $heading-color;
    border-bottom: solid 1px;
    text-decoration: none;
  }
}

.subtext {
  color: $sub-heading-color;
  font-size: 20px;
  line-height: 28px;
}

.content {
  font-family: Arial;
  color: $text-color;
  h1, h2, h3, h4, h5, h6 { margin: 5px auto; }
  p {
    font-size: 22px;
    line-height: 28px;
    text-align: justify;
    margin: 20px 0;
  }
}

.date {
  font-style: italic;
}

.input-post-title {
  background-color: $bg-color;
  border: none;
  color: $heading-color;
  font-family: "Times New Roman";
  font-size: 32px;
  height: 40px;
  width: 100%;
}

.input-post-content {
  background-color: $bg-color;
  border: none;
  color: $text-color;
  font-family: Arial;
  font-size: 22px;
  height: 600px;
  width: 100%;
}

.list-posts {
  list-style: none;
}

form {
  .field {
    margin: 10px auto;
  }
}

.align-right {
  float: right;
}

footer {
  border-top: solid 1px $light-border-color;
  bottom: 0px;
  margin-top: 40px;
  position: relative;
  .footer-text {
    color: $heading-color;
    font-size: 12px;
    margin: 20px auto 10px auto;
    text-align: center;
  }
}

header {
  .profile-actions {
    margin-left: 695px;
    position: relative;
    top: -42px;
    a { color: $heading-color; }
  }
}

.post-actions {
  a { color: $heading-color; }
}

.social-links {
  text-align: center;
  margin-bottom: 10px;
  .wrap {
    display: inline-block;
    margin: 0 5px;
  }
  img { height: 20px; }
}